:root {
  --color-primary: #F06061;
  --color-primary-active: #C05051;
  --color-primary-hover: #E05051;
  --color-secondary: #ff6a9e;
  --color-accent: #9e5ecc;
  --color-accent-light: #fbf0ff;
  --color-accent-dark: #3e0e8c;
  --color-background: #FFFFFF;
  --color-code: var(--color-primary);
  --color-code-background: #f8f8f8;
  --color-text-muted: #6c757d;
}

body {
  background-color: var(--color-background);
}

a {
  color: var(--color-primary);
}

code, pre {
  background-color: var(--color-code-background);
}

:not(pre) > code {
  color: var(--color-code);
}

a:hover {
  color: var(--color-primary-hover) !important;
}

.btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: white !important;
}

.btn-primary.active, .btn-primary:active {
  background-color: var(--color-primary-active) !important;
  border-color: var(--color-primary-active) !important;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover) !important;
  color: white !important;
}

.btn-outline-primary {
    border-color: var(--color-primary) !important;
}

.btn-outline-primary.active, .btn-outline-primary:active  {
  background-color: var(--color-primary-active) !important;
  border-color: var(--color-primary-active) !important;
}

.btn-outline-primary:hover {
  border-color: var(--color-primary-hover) !important;
  background-color: var(--color-primary-hover) !important;
  color: white !important;
}
